# The secure.py file stores environment specific settings and secrets.  It is 
# generated during deployment to AWS based on settings stored in s3.  Using the
# below secure settings in combination with project defaults should be 
# sufficient to get you started.  Make sure you copy this file over as is to
# secure.py before running `vagrant up`.

SECURE_SETTINGS = {
    'enable_debug': True,
    'django_secret_key': 'r-yy149lg(cch5c(z#jw=mn^5eqps^=@a=qgrw6ai=if=0h@+=',
    'db_default_name': 'acts_open_house',
    'db_default_user': 'acts_open_house',
    'db_default_password': 'acts_open_house',
}
